<h4 class="blog-post-title">Juego</h4>
<hr/>
<button type="button" class="btn btn-danger fa fa-plus" ng-click="open(accion);">&nbsp;Agregar</button>

<div class="table-responsive">
<div class="panel panel-primary">
  <div class="panel-heading">Juegos
      <div class="sw-search" >
            <div class="nav-search" id="nav-search">
                    Filtrar Juego: <span class="input-icon">
                        <input placeholder="Buscar juego..." class="nav-search-input" ng-model="filterJuego" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
            </div>
        </div>
    </div>
  <div class="panel-body">
    <table class="table table-striped">
    <tr ng-show="accions.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;Datos no encontrado</td></tr>
    <tr ng-hide="accions.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Cargando</td></tr>
    
    <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>

    <tr ng-repeat="c in accions | filter:filterAccion | orderBy:'-id'" id="{{c.id}}" animate-on-change='c.fecha' ng-animate=" 'animate'">
        <td>{{c.fecha}}</td><td>{{c.casa}}</td><td>{{c.visitante}}</td><td>{{c.estadio}}</td><td>{{c.nombreModerador}} {{c.Apellido}}</td><td>{{c.carreras}}</td><td>{{c.hit}}</td><td>{{c.errores}}</td>
        <td>
            <button class="btn" ng-class="{Activo:'btn-success', Inactivo:''}[c.status]" ng-click="changeAccionStatus(c);">{{c.status}}</button>
        </td>
        <td style="width:100px">
            <div class="btn-group">
              <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deleteAccion(c);"></button>
            </div>
        </td>
    </tr>
    </table>
</div>
</div>
</div>
              