<h4 class="blog-post-title">Posiciones de Equipos</h4>
<hr/>

<div class="table-responsive">
<div class="panel panel-primary">
  <div class="panel-heading">Lista de Equipos
      <div class="sw-search" >
            <div class="nav-search" id="nav-search">
                    Filtrar Equipo: <span class="input-icon">
                        <input placeholder="Buscar equipo..." class="nav-search-input" ng-model="filterEquipo" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
            </div>
        </div>
    </div>
  <div class="panel-body">
    <table class="table table-striped">
    <tr ng-show="equipos.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;Datos no encontrado</td></tr>
    <tr ng-hide="equipos.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Cargando</td></tr>
    
    <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>

    <tr ng-repeat="c in equipos | filter:filterEquipo | orderBy:'-jg'" id="{{c.jg}}" animate-on-change='c.nombre' ng-animate=" 'animate'">
                
                <td>{{c.nombre}}</td>
                <td><img src="loguitos/{{c.imagen}}"></td>
                <td>{{c.jj}}</td>
                <td>{{c.jg}}</td>
                <td>{{c.jp}}</td>
                <td>{{c.dive}}</td>
                <td>{{c.ave}}</td>
        <td style="width:100px">
            <div class="btn-group">
              <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deleteEquipoPosicion(c);"></button>
            </div>
        </td>
    </tr>
    </table>
</div>
</div>
</div>
              