<h4 class="blog-post-title">Jugador</h4>
<hr/>
<button type="button" class="btn btn-danger fa fa-plus" ng-click="open(jugador);">&nbsp;Agregar</button>

<div class="table-responsive">
<div class="panel panel-primary">
  <div class="panel-heading">Lista de Jugadores
      <div class="sw-search" >
            <div class="nav-search" id="nav-search">
                    Filtrar Jugador: <span class="input-icon">
                        <input placeholder="Buscar jugador..." class="nav-search-input" ng-model="filterJugador" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
            </div>
        </div>
    </div>
  <div class="panel-body">
    <table class="table table-striped">
    <tr ng-show="jugador.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;Datos no encontrado</td></tr>
    <tr ng-hide="jugador.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Cargando</td></tr>
    
    <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>

    <tr ng-repeat="c in jugadors | filter:filterJugador | orderBy:'-id'" id="{{c.id}}" animate-on-change='c.nombre' ng-animate=" 'animate'">
        <td>{{c.id}}</td><td>{{c.nombre}}</td><td>{{c.posicion}}</td><td>{{c.nombreE}}</td>
        <td>
            <button class="btn" ng-class="{Activo:'btn-success', Inactivo:''}[c.status]" ng-click="changeJugadorStatus(c);">{{c.status}}</button>
        </td>
        <td style="width:100px">
            <div class="btn-group">
              <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deleteJugador(c);"></button>
            </div>
        </td>
    </tr>
    </table>
</div>
</div>
</div>
              