    <button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
    </button>
    <div class="modal-header">
        <h3 class="modal-title">Moderador {{moderador.nombre}} {{moderador.apellido}}</h3>
    </div>
    <div class="modal-body">
        <form name="moderador_form" class="form-horizontal" role="form" novalidate>
            <form-element label="Nombre" mod="nombre">
                <input type="text" class="form-control" name="nombre" placeholder="NOMBRE" ng-model="moderador.nombre" focus/>
            </form-element>
            <form-element label="Apellido" mod="apellido">
                <input type="text" class="form-control" name="apellido" placeholder="APELLIDO" ng-model="moderador.apellido" required focus/>
            </form-element>
            
            <div class="space"></div>
            <div class="space-4"></div>
            <div class="modal-footer">
                <form-element label="">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancelar</a>
                        <button ng-click="saveModerador(moderador);"
                                ng-disabled="moderador_form.$invalid || enableUpdate"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>{{buttonText}}
                        </button>
                    </div>
                </form-element>
            </div>
        </form>
    </div>

