    <button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
    </button>
    <div class="modal-header">
        <h3 class="modal-title">Usuario {{usuario.nombre}}</h3>
    </div>
    <div class="modal-body">
        <form name="usuario_form" class="form-horizontal" role="form" novalidate>
            <form-element label="Nombre" mod="nombre">
                <input type="text" class="form-control" name="nombre" placeholder="NOMBRE" ng-model="usuario.nombre" focus/>
            </form-element>
            <form-element label="Correo" mod="correo">
                <input type="email" class="form-control" name="correo" placeholder="correo" ng-model="usuario.correo" focus/>
            </form-element>
            <form-element label="Usuario" mod="usuario">
                <input type="text" class="form-control" name="usuario" placeholder="USUARIO" ng-model="usuario.usuario" focus/>
            </form-element>
            <form-element label="Contraseña" mod="clave">
                <input type="password" class="form-control" name="clave" placeholder="CONTRASEÑA" ng-model="usuario.clave" focus/>
            </form-element>
            
            <div class="space"></div>
            <div class="space-4"></div>
            <div class="modal-footer">
                <form-element label="">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancelar</a>
                        <button ng-click="saveUsuario(usuario);"
                                ng-disabled="usuario_form.$invalid || enableUpdate"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>{{buttonText}}
                        </button>
                    </div>
                </form-element>
            </div>
        </form>
    </div>

